.table-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #c7e2ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #000f1e;
    color: white;
}

table tr:hover {
    background-color: #f1f1f1;
}


.blink-text {
    color: #9c0303;
    /* Muted red color */
    text-align: center;
    font-style: italic;
    /* Make text italic */
    font-weight: bold;
    /* Make text bold */
    font-size: 32px;
    /* Make text larger */
    animation: blink 1s linear infinite;
    /* Add blinking effect */
    display: block;
    /* Ensure it behaves like a block element to center properly */
    margin: 0 auto;
    /* Center-align the block element */
    text-align: center;
    /* Center the text */
}

/* Keyframes for blinking effect */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}